<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">


			<div class="error_message">
				<h4>Deletion Concept_xy</h4>
				<div class="error_content">
					<p>Are you shure about that? If you delete this rule, the following rules will be orphaned!</p> <a th:href="@{editRule1}">Concept
						xy</a> <a th:href="@{editRule}">another Concept</a>
					 <input type="submit" value="jo"/> <input type="submit" value="nö"/>
				</div>
			</div>


		</div>

		<div id="footer"></div>
	</div>



</body>

</html>