<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">module:UndefiniedModules (Constraint)</div>

				<div class="actual_content">
					<form id="EditWindow">
						<table style="width: 95%">
							<tr>
								<td><span>ID:</span></td>
								<td><input type="text" size="60"/></td>
							</tr>
							<tr>
								<td><span>Severity (optional):</span></td>
								<td><input type="text" size="25"/></td>
							</tr>
							<tr>
								<td><span>Description:</span></td>
								<td><textarea rows="2" cols="60"></textarea></td>
							</tr>
							<tr>
								<td><span>Cypher:</span></td>
								<td><textarea rows="4" cols="60"></textarea></td>
							</tr>
							<tr>
								<td><span>QueryTemplate:</span></td>
								<td><select name="Templates">
										<option>none</option>
										<option>modules:Template1</option>
										<option>modules:Template2</option>
										<option></option>
										<option></option>
								</select></td>
							</tr>
						</table>
						
						
					</form>
					<strong>Parameters:</strong>
					<table style="width: 75%">
						<tr>
							<td>#</td>
							<td>Integer?</td>
							<td>Name</td>
							<td>Value</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>1</td>
							<td><input type="checkbox"/></td>
							<td><input type="text" size="40"/></td>
							<td><input type="text" size="40"/></td>
							<td><input type="checkbox"/></td>
						</tr>
						<tr>
							<td>2</td>
							<td><input type="checkbox"/></td>
							<td><input type="text" size="40"/></td>
							<td><input type="text" size="40"/></td>
							<td><input type="checkbox"/></td>
						</tr>
						<tr>
							<td colspan="4"><input type="submit" value="Add Paramter"/></td>
							<td>
									<input type="Submit" value="delete"/>
								</td>
						</tr>
					</table>
					
					
					 <strong>References:</strong>
					 <span>Depends on:</span>
					<table style="width: 75%">
						<tr>
							<td>1</td>
							<td><a th:href="@{editRule1}">Concept xy</a></td>
							<td><input type="checkbox"/></td>
						</tr>
						<tr>
							<td>2</td>
							<td><a th:href="@{editRule1}">another Concept</a></td>
							<td><input type="checkbox"/></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td><form action="./confirmRefDelete.html">
									<input type="Submit" value="delete"/>
								</form></td>
						</tr>
						<tr>
							<td></td>
							<td><form action="./errorRefAdd.html">
									<input type="text" size="50"/><input type="Submit" value="Add"/>
								</form></td>
							<td></td>
						</tr>
					</table>
					
					 <span>Referenced by:</span>
					<table style="width: 75%">
						<tr>
							<td>1</td>
							<td><a th:href="@{editGroup}">SlowCheck</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td><a th:href="@{editRule1}">another Concept</a></td>
						</tr>
					</table>
					<p>
						Save all changes <input type="submit" value="save"/> or discard <input type="submit" value="cancel"/>
					</p>
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>