<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>

</head>

<body>


	<div id="main">
		<div id="header_wrapper">
			<div id="header">
				<a th:href="@{/}"><img id="header_logo" th:src="@{/img/logo.png}" alt="logo" /></a>

				<form id="search" action="#" th:action="@{hello}" method="post" name="search">
					<input id="search_input" type="text" value="Suchen auf JRMDS" name="search_input" />
					<script th:src="@{/js/searchbar.js}"></script>
					<button type="submit" id="search_button"></button>
					<select name="searchoption">
						<option>alle</option>
						<option>Gruppe</option>
						<option>Constrain</option>
						<option>Concept</option>
						<option>Template</option>
					</select>
				</form>

				<div id="welcome_user">
					<a th:href="@{hello}"><img th:src="@{/img/projects.png}" alt="Projekte" class="symbol_small" />Projekte</a> <a th:href="@{hello}"><img
						th:src="@{/img/user.png}" alt="Projekte" class="symbol_small" />Login</a> <a th:href="@{hello}"><img th:src="@{/img/user.png}"
						alt="Projekte" class="symbol_small" />Register</a>
				</div>

				<div style="clear: both;"></div>

			</div>
		</div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">Demo-Inhalt 1</div>

				<div class="actual_content">

					<div class="error_message">
						<h4>Hallo Gast</h4>
						<div class="error_content">Einloggen um auch etwas ändern zu können Sonst kannste nur lesen hier.</div>
					</div>

				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>


	<script>
  $(document).ready(function() {
 
	$('#search_input').autocomplete({
		serviceUrl: '/getTags',
		paramName: "tagName",
		delimiter: ",",
	   transformResult: function(response) {
 
		return {      	
		  //must convert json to javascript object before process
		  suggestions: $.map($.parseJSON(response), function(item) {
 
		      return { value: item.name, data: item.id };
		   })
 
		 };
 
            }
 
	 });
 
  });
  </script>



</body>

</html>