<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JRMDS</title>
<link th:href="@{http://fonts.googleapis.com/css(family=Lato)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Oleo+Script)}" rel="stylesheet" type="text/css" />
<link th:href="@{http://fonts.googleapis.com/css(family=Roboto)}" rel="stylesheet" type="text/css" />
<link th:href="@{/style/style.css}" rel="stylesheet" media="screen" type="text/css" />
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>


</head>


<body>


	<div id="main">
		<div id="header_wrapper" th:replace="fragments/header :: header"></div>
		<div id="content_wrapper">

			<div class="container">
				<div class="container_heading">Projektübersicht</div>

				<div class="actual_content">
					<form id="EditWindow">
						<div class="containerInnen">
							<div class="popover">
								<div class="project">
									<div>
										<div class="projectname">
											<a th:href="@{projectOverview}">Projekt 1<span class="desc">Es grünt so grün, grünt so grün, grünt so grüngrün,
													grüntgrünt so grün, grünt so grüngrün, grünt so grün, grünt so grün, wenn Spaniens Blüten blühen</span></a>
										</div>
										<div class="projectleader">
											<a href="userprofile.html">Dirk Mahler</a>
										</div>
									</div>
									<div>
										<div class="projectname">
											<a th:href="@{projectOverview}">Projekt 2<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a>
										</div>
										<div class="projectleader">
											<a href="userprofile.html">Dirk Mahler</a>
										</div>
									</div>
									<div>
										<div class="projectname">
											<a th:href="@{projectOverview}">Projekt 3<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a>
										</div>
										<div class="projectleader">
											<a href="userprofile.html">Dirk Mahler Mahler Mahler</a>
										</div>
									</div>
									<div>
										<div class="projectname">
											<a th:href="@{projectOverview}">Projekt 4<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a>
										</div>
										<div class="projectleader">
											<a href="userprofile.html">Dirk Mahler</a>
										</div>
									</div>
									<div>
										<div class="projectname">
											<a th:href="@{projectOverview}">Projekt 5<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a>
										</div>
										<div class="projectleader">
											<a href="userprofile.html">Dirk Mahler</a>
										</div>
									</div>
								</div>
								<!--      						<ul class="project">
 								<li><div class="projectname"><a href="project.html">Projekt 1<span class="desc">Es grünt so grün, grünt so grün, grünt so grün, grünt so grün, wenn Spaniens Blüten blühen</span></a></div><div class="projectleader"><a href="userprofile.html">Dirk Mahler</a></div></li>
       							<li><div class="projectname"><a href="project.html">Projekt 2<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a></div><div class="projectleader"><a href="userprofile.html">Dirk Mahler</a></div></li>
								<li><div class="projectname"><a href="project.html">Projekt 3<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a></div><div class="projectleader"><a href="userprofile.html">Dirk Mahler</a></div></li>
								<li><div class="projectname"><a href="project.html">Projekt 4<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a></div><div class="projectleader"><a href="userprofile.html">Dirk Mahler</a></div></li>
								<li><div class="projectname"><a href="project.html">Projekt 5<span class="desc">Es grünt so grün, wenn Spaniens Blüten blühen</span></a></div><div class="projectleader"><a href="userprofile.html">Dirk Mahler</a></div></li>
     						</ul>-->
							</div>


						</div>
					</form>
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</div>



</body>

</html>